spring.profiles.active: development
---
spring:
  profiles: development
  data:
    mongodb:
      host: mongodb-inspurtest14-mongodb
      port: 27017
  jackson:
    date-format: "YYYY-MM-dd"
    serialization:
      write_dates_as_timestamps: true

security:
  oauth2:
    resource:
      userInfoUri: http://117.73.10.153:31287/uaa/user
    client:
      client-id: acme
  ignored: /api/** , /hystrix.stream
eureka:
  instance:
    prefer-ip-address: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://discovery-service-default-svc:8761/eureka/
---
spring:
  profiles: docker
  data:
    mongodb:
      host: mongodb-inspurtest14-mongodb
      port: 27017
  mvc:
    date-format: "YYYY-MM-dd"
  jackson:
    date-format: "YYYY-MM-dd"
    serialization:
      write_dates_as_timestamps: true
security:
  oauth2:
    resource:
      userInfoUri: http://117.73.10.153:31287/uaa/user
    client:
      client-id: acme
eureka:
  instance:
    prefer-ip-address: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://discovery-service-default-svc:8761/eureka/