spring:
  profiles:
    active: docker
---
spring:
  profiles: cloud
security:
  oauth2:
    resource:
      userInfoUri: ${vcap.services.user-service.credentials.uri:http://localhost:8181}/uaa/user
    client:
      client-id: acme
  enable-csrf: false
---
spring:
  profiles: development
  datasource:
    url: jdbc:mysql://10.10.101.19:3306/dev?useSSL=false
    username: root
    password: dbpass
    platform: mysql
  zipkin:
    base-url: http://10.10.101.19:9411
security:
  oauth2:
    resource:
      userInfoUri: http://10.10.101.20:8181/uaa/user
    client:
      client-id: acme
      access-token-uri: http://10.10.101.20:8787
  enable-csrf: false
  ignored: /api/** , /hystrix.stream
eureka:
  instance:
    prefer-ip-address: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://10.10.101.19:8761/eureka/
---
spring:
  profiles: docker
  jpa:
    show_sql: false
    database: MYSQL
    generate-ddl: true
  datasource:
    url: jdbc:mysql://mysql:3306/dev?useSSL=false
    username: root
    password: dbpass
security:
  oauth2:
    resource:
      userInfoUri: http://117.73.10.153:31287/uaa/user
    client:
      client-id: acme
  enable-csrf: false
eureka:
  instance:
    prefer-ip-address: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://discovery-service-default-svc:8761/eureka/
---
spring:
  application:
    name: account-service
  profiles: test
  jpa:
    show_sql: false
    database: H2
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_ON_EXIT=FALSE
security:
  oauth2:
    resource:
      userInfoUri: http://localhost:8181/uaa/user
    client:
      client-id: acme
      access-token-uri: http://localhost:8787
